[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
seaborn = "*"
pytest = "*"
coverage = "*"
mypy = "*"
sqlalchemy-stubs = "*"
types-setuptools = "*"

[packages]
numpy = "*"
matplotlib = "*"
pyside2 = "==5.15.2"  # Waiting for a fix: https://bugreports.qt.io/browse/PYSIDE-1404
tensorflow = "==2.4.2"
markdown = "*"
alembic = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
