[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
seaborn = "*"
pytest = "*"
coverage = "*"
mypy = "*"
sqlalchemy-stubs = "*"
types-setuptools = "*"

[packages]
numpy = "*"
matplotlib = "*"
tensorflow = "*"
markdown = "*"
alembic = "*"
sqlalchemy = "*"
pyside6 = "*"

[requires]
python_version = "3.10"
